<div class="container">
  <h2 class="subtitle"><strong>Patient's List :</strong></h2>

  <div class="control">
    <div class="select">
      <select formControlName="patients" (change)='onOptionsSelected($event)'>
        <option>-- Patient--</option>
        <option *ngFor="let item of patientList" [value]="item.PatientId">{{item.name}} {{item.lastName}}</option>
      </select>

    </div>
  </div>
</div>


<div class="container mt-6">
  <div class="tile is-child box mt-4">
    <aside class="menu">
      <h2 class="subtitle"><strong>Doctor List</strong></h2>

      <ul class="menu-list">
        <li *ngFor="let item of doctorCollection">
          <app-doctor-item [doctor]="item"></app-doctor-item>
        </li>
      </ul>
    </aside>
  </div>
</div>



