<section class="section">
  <div class="container">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="https://loremflickr.com/g/320/240/hospital">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{speciality.name}}</strong>
            <br>
            {{speciality.description}}
          </p>
        </div>

      </div>

    </article>
  </div>

</section>
